In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas import DataFrame
import pickle

In [65]:
matches= pd.read_csv(r"IPL_Matches_2008_2022[1].csv")
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [66]:
delivery = pd.read_csv(r"IPL_Ball_by_Ball_2008_2022[1].csv")
delivery.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [67]:
total_score =delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

C:\Users\soura\AppData\Local\Temp\ipykernel_18188\1203379862.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score =delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [68]:
total_score=total_score[total_score["innings"]==1]

In [69]:
match_df=pd.merge(matches,total_score,left_on=['ID'], right_on = ['ID'])

In [70]:
match_df.drop(['innings'],axis=1)
match_df.head()
match_df.shape

(950, 22)

In [71]:
match_df['Team1'] = match_df['Team1'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')
match_df['TossWinner'] = match_df['TossWinner'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')
match_df['WinningTeam'] = match_df['WinningTeam'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')


match_df['Team1'] = match_df['Team1'].replace(['Delhi Daredevils'], 'Delhi Capitals')
match_df['Team2'] = match_df['Team2'].replace(['Delhi Daredevils'], 'Delhi Capitals')
match_df['TossWinner'] = match_df['TossWinner'].replace(['Delhi Daredevils'], 'Delhi Capitals')
match_df['WinningTeam'] = match_df['WinningTeam'].replace(['Delhi Daredevils'], 'Delhi Capitals')



match_df['Team1'] = match_df['Team1'].replace(['Kings XI Punjab'], 'Punjab Kings')
match_df['Team2'] = match_df['Team2'].replace(['Kings XI Punjab'], 'Punjab Kings')
match_df['TossWinner'] = match_df['TossWinner'].replace(['Kings XI Punjab'], 'Punjab Kings')
match_df['WinningTeam'] = match_df['WinningTeam'].replace(['Kings XI Punjab'], 'Punjab Kings')

In [72]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Pune Warriors',
       'Kochi Tuskers Kerala'], dtype=object)

In [73]:
teams = ['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians' ]

In [74]:
match_df =match_df[match_df['Team1'].isin(teams)]
match_df =match_df[match_df['Team2'].isin(teams)]
match_df =match_df[match_df['TossWinner'].isin(teams)]
match_df =match_df[match_df['WinningTeam'].isin(teams)]

In [75]:
match_df['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings'], dtype=object)

In [76]:
match_df.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            0
WinningTeam          0
WonBy                0
Margin              13
method             817
Player_of_Match      0
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
innings              0
total_run            0
dtype: int64

In [77]:
match_df['method'].fillna('0', inplace=True)

In [78]:
meth = ['0']

In [79]:
match_df =match_df[match_df['method'].isin(meth)]

In [80]:
match_df=match_df[['ID','City','WinningTeam','total_run','Team1','Team2']]

In [81]:
ipl_df=pd.merge(delivery,match_df,left_on=['ID'], right_on = ['ID'])
ipl_df['BattingTeam'] =ipl_df['BattingTeam'].replace(['Kings XI Punjab'], 'Punjab Kings')
ipl_df['BattingTeam'] =ipl_df['BattingTeam'].replace(['Delhi Daredevils'], 'Delhi Capitals')
ipl_df['BattingTeam'] = ipl_df['BattingTeam'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')

In [82]:
ipl_df.loc[ipl_df["BattingTeam"]==ipl_df["Team1"],"BowlingTeam"]=ipl_df['Team2']
ipl_df.loc[ipl_df["BattingTeam"]==ipl_df["Team2"],"BowlingTeam"]=ipl_df['Team1']
ipl_df.tail()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,player_out,kind,fielders_involved,BattingTeam,City,WinningTeam,total_run_y,Team1,Team2,BowlingTeam
196140,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,...,NaN,NaN,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196141,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,...,NaN,NaN,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196142,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,...,NaN,NaN,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196143,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,...,NaN,NaN,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196144,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,...,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

In [83]:
ipl_df=ipl_df[ipl_df['innings']==2]

In [84]:
ipl_df.rename(columns = {'total_run_y':'Target'}, inplace = True)

In [85]:
ipl_df.head(12)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,player_out,kind,fielders_involved,BattingTeam,City,WinningTeam,Target,Team1,Team2,BowlingTeam
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
125,1312200,2,0,6,Shubman Gill,TA Boult,WP Saha,NaN,4,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
126,1312200,2,1,1,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
127,1312200,2,1,2,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,4,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
128,1312200,2,1,3,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
129,1312200,2,1,4,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,WP Saha,bowled,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
130,1312200,2,1,5,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,2,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
131,1312200,2,1,6,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,NaN,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals

In [86]:
ipl_df['curr_score']=ipl_df.groupby('ID').cumsum()['total_run_x']

C:\Users\soura\AppData\Local\Temp\ipykernel_18188\1507834633.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ipl_df['curr_score']=ipl_df.groupby('ID').cumsum()['total_run_x']

In [87]:
ipl_df.head(12)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,kind,fielders_involved,BattingTeam,City,WinningTeam,Target,Team1,Team2,BowlingTeam,curr_score
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1
125,1312200,2,0,6,Shubman Gill,TA Boult,WP Saha,NaN,4,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,5
126,1312200,2,1,1,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,5
127,1312200,2,1,2,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,4,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,9
128,1312200,2,1,3,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,9
129,1312200,2,1,4,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,bowled,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,9
130,1312200,2,1,5,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,2,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,11
131,1312200,2,1,6,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,11

In [88]:
ipl_df['runs_left']=(ipl_df['Target'] - ipl_df['curr_score']) +1
ipl_df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,fielders_involved,BattingTeam,City,WinningTeam,Target,Team1,Team2,BowlingTeam,curr_score,runs_left
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,...,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,Gujarat Titans,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196140,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,...,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80,143
196141,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,...,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142
196142,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,...,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142
196143,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,...,NaN,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141
196144,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,...,BB McCullum,Royal Challengers Bangalore,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141

In [89]:
ipl_df['ball_left']=(126 - ((ipl_df['overs']+1)*6 +ipl_df['ballnumber']))

In [90]:
ipl_df['curr_RR']= ipl_df['curr_score']*6/(120 - ipl_df['ball_left'])

In [91]:
 ipl_df['Req_RR']= ipl_df['runs_left']*6/( ipl_df['ball_left'])

In [92]:
ipl_df.isnull().sum()

ID                       0
innings                  0
overs                    0
ballnumber               0
batter                   0
bowler                   0
non-striker              0
extra_type           90017
batsman_run              0
extras_run               0
total_run_x              0
non_boundary             0
isWicketDelivery         0
player_out           90379
kind                 90379
fielders_involved    91744
BattingTeam              0
City                  6012
WinningTeam              0
Target                   0
Team1                    0
Team2                    0
BowlingTeam              0
curr_score               0
runs_left                0
ball_left                0
curr_RR                  0
Req_RR                  11
dtype: int64

In [93]:
ipl_df['wickets_remaining']=10 -ipl_df.groupby('ID').cumsum()['isWicketDelivery']
ipl_df.head()

C:\Users\soura\AppData\Local\Temp\ipykernel_18188\860258772.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ipl_df['wickets_remaining']=10 -ipl_df.groupby('ID').cumsum()['isWicketDelivery']

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,Target,Team1,Team2,BowlingTeam,curr_score,runs_left,ball_left,curr_RR,Req_RR,wickets_remaining
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,119,0.0,6.605042,10
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,118,0.0,6.661017,10
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,...,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,117,2.0,6.666667,10
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,116,1.5,6.724138,10
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,130,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,115,1.2,6.782609,10

In [94]:
def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else  0

In [95]:
ipl_df['results']=ipl_df.apply(result,axis=1)

In [96]:
ipl=ipl_df[['BattingTeam','BowlingTeam','City','Target','runs_left','ball_left','wickets_remaining','curr_RR','Req_RR','results']]
ipl.head()

,BattingTeam,BowlingTeam,City,Target,runs_left,ball_left,wickets_remaining,curr_RR,Req_RR,results
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,131,119,10,0.0,6.605042,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,131,118,10,0.0,6.661017,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,130,117,10,2.0,6.666667,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,130,116,10,1.5,6.724138,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,130,115,10,1.2,6.782609,1

In [97]:
ipl=ipl.sample(ipl.shape[0])

In [98]:
ipl.dropna(inplace=True)

In [99]:
ipl.describe()

,Target,runs_left,ball_left,wickets_remaining,curr_RR,Req_RR,results
count,89033.000000,89033.000000,89033.000000,89033.000000,89033.000000,8.903300e+04,89033.000000
mean,165.070783,92.748363,62.566857,7.536004,7.421578,NaN,0.526558
std,28.739096,49.763712,33.413669,2.149348,2.237780,NaN,0.499297
min,67.000000,-5.000000,-2.000000,0.000000,0.000000,-inf,0.000000
25%,147.000000,53.000000,34.000000,6.000000,6.276923,7.241379e+00,0.000000
50%,165.000000,92.000000,63.000000,8.000000,7.485149,8.933333e+00,1.000000
75%,185.000000,130.000000,91.000000,9.000000,8.653846,1.100000e+01,1.000000
max,246.000000,247.000000,119.000000,10.000000,36.000000,inf,1.000000

In [100]:
ipl = ipl[ipl['ball_left']!=0]
ipl.describe()

,Target,runs_left,ball_left,wickets_remaining,curr_RR,Req_RR,results
count,88743.000000,88743.000000,88743.000000,88743.000000,88743.000000,88743.000000,88743.000000
mean,165.028284,92.982568,62.771317,7.551469,7.420015,10.503936,0.527997
std,28.742679,49.665376,33.275929,2.133935,2.240277,13.970413,0.499218
min,67.000000,-5.000000,-2.000000,0.000000,0.000000,-516.000000,0.000000
25%,147.000000,54.000000,35.000000,6.000000,6.272727,7.235294,0.000000
50%,165.000000,92.000000,63.000000,8.000000,7.483871,8.921053,1.000000
75%,184.000000,130.000000,92.000000,9.000000,8.653846,10.971429,1.000000
max,246.000000,247.000000,119.000000,10.000000,36.000000,714.000000,1.000000

In [101]:
x = ipl.iloc[:,:-1]
y = ipl.iloc[:,-1]
from sklearn.model_selection import train_test_split

In [102]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.8,random_state=1)

In [105]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])],remainder='passthrough')

In [106]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [107]:
ipl.isnull().sum()

BattingTeam          0
BowlingTeam          0
City                 0
Target               0
runs_left            0
ball_left            0
wickets_remaining    0
curr_RR              0
Req_RR               0
results              0
dtype: int64

In [108]:
pipe = Pipeline(steps=[('step1',trf),('step2',LogisticRegression(solver='liblinear'))])

In [109]:
pipe.fit(x_train,y_train)

C:\Users\soura\.conda\envs\ipl_pred\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [110]:
y_pred = pipe.predict(x_test)

In [111]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8130598906980675

In [114]:
pipe.predict_proba(x_test)[25]

array([0.79838463, 0.20161537])

In [115]:
pickle.dump(pipe,open('ipl.pkl','wb'))

In [50]:
ipl=pickle.load(open('ipl.pkl','rb'))

In [62]:
ipl['BattingTeam'].unique()

array(['Sunrisers Hyderabad', 'Rajasthan Royals', 'Chennai Super Kings',
       'Royal Challengers Bangalore', 'Mumbai Indians',
       'Kolkata Knight Riders', 'Punjab Kings', 'Delhi Capitals',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)